a{
    color: black !important;
}

.brand-logo{
    font-family: 'Grand Hotel', cursive;
    margin-left: 1rem;
}

.nav-wrapper{
    padding-right: 1rem;
}

.hide-search-bar{
    display: none;
}

.input-field:focus {
    background-color: #f5f5f5 !important;
}